﻿.book-item {
    display: flex;
    flex-direction: column;
}

.book-image {
    min-height: 50%;
}

.book-info {
    display: flex;
    flex-direction: column;
    /*white-space: pre-wrap;*/
    justify-content: space-around;
}

.buy-form {
    display: none;
}
  
