﻿@model IEnumerable<BookShopExample.Models.Book>

<div class="col-md-3 list-group">
    <h3 class="h3">Жанры</h3>
    @foreach (var item in ViewBag.Categories)
    {
        <div class="list-group-item">
            @{
                string name = item.Name;
                string link = "/Index/";
            }
            @Html.ActionLink(name, link, new { categoryId = item.CategoryId })
        </div>
    }

</div>
<div class="col-md-9">
    <div class="row">
        @foreach (BookShopExample.Models.Book item in Model)
        {

            <div class="col-xl-2 col-lg-3 col-md-4 col-6 card book-item">
                <input type="hidden" value="@item.BookId" />
                <div class="book-image">
                    <img src="@item.Image" alt="@item.Author - @item.Name" class="card-img-top" />
                </div>
                <div class="card-body book-info">
                    <p class="book-name text-center lead text-wrap">@item.Name</p>
                    <p class="book-author text-center">@item.Author</p>
                    <p class="book-price text-center">@item.Price грн</p>
                    <p class="book-amount">Осталось на складе: @item.Amount</p>
                    @if (item.Amount > 0)
                    {
                        @Html.ActionLink("Купить", "Index", new { bookId = item.BookId })
                    }
                    else
                    {
                        <p class="out-of-stock">Нет в наличии</p>
                    }
                </div>
            </div>

        }
    </div>
</div>
