﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Buy</title>
</head>
<body>
    <div> 
        <p>Спасибо за покупку, @ViewBag.CustomerName!</p>
        <p>Ваш заказ, "@ViewBag.ChosenBook.Name" (@ViewBag.ChosenBook.Author) отправлен в обработку. Мы свяжемся с вами позже.</p>
        @Html.ActionLink("Вернутся на главную страницу", "Index")
    </div>
</body>
</html>
