﻿@model BookShopExample.Models.Purchase


@using (Html.BeginForm("Buy", "BookShop", FormMethod.Post, new { @class = "buy-form" }))
{
    if (ViewBag.ChosenBook.Amount > 0)
    {
        <img src="@ViewBag.ChosenBook.Image" alt="@ViewBag.ChosenBook.Name" />
        @Html.ValidationSummary();
        @Html.Hidden("BookFid", (long)ViewBag.ChosenBook.BookId);
        @Html.Label("Ваше имя: ");
        @Html.TextBoxFor(x => x.CustomerName);
        @Html.Label("Ваш телефон: ");
        @Html.TextBoxFor(x => x.CustomerPhone);


        <input type="submit" name="Заказать" />

    }
    else
    {
        <p>К сожалению, данный товар закончился. Приносим свои извинения за неудобства.</p>

    }
    <button type="button" onclick="ShowForm(false)">Х</button>

}


