﻿@model BookShopExample.Models.BookShopInfo
@{
    Layout = null;
}



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Contents/css/main.css" />
    <link href="~/Contents/css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Contents/js/BookShopScripts.js"></script>
    <title>Index</title>
</head>
<body>
    <div class="container-fluid">

        <div class="row">
            <div class="col">
                @if (Model.IsBuyFormVisible == true)
                {
                    Html.RenderAction("Choose", new { bookId = Model.BookId });
                }
            </div>
        </div>

        <div class="row">
            @{Html.RenderAction("BookList", new { categoryId = Model.CategoryId}); }
        </div>
    </div>



    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="~/Contents/js/bootstrap.min.js"></script>

    
        <script>
            $(document).ready(function () {
                @if (Model.IsBuyFormVisible == true) {
                    @:ShowForm(true);
                }
                else {
                    @:ShowForm(false);
                }
            });
        </script>
    


</body>
</html>


